# Содержимое этого файла необходимо скопировать в config.py и изменить под себя

TOKEN = '<SOME_TOKEN>' # Токен телеграмбота (получается у @BotFather)
DB = 'mysql+pymysql://<username>:<password>@<host>/<dbname>?charset=utf8mb4' # Строчка подключения к базе данных (поддерживается только MySql, о формате можно прочитать тут http://docs.sqlalchemy.org/en/latest/dialects/mysql.html)
API_PORT = 88 # Порт, по которому будет доступен внешний апи бота (REST)
GOVERNMENT_CHAT = -1001149271906 # Чат, в который бот будет слать отчёты
SUPER_ADMIN_ID = 0 # id супер админа
# вербовочный функционал:
CASTLE_CHAT_ID = None # id замкового чата (для поиска новых игроков в замке - если None - функционал отключен)
ACADEM_CHAT_ID = None # id чата академии (для уведомления о новых игроках в замке - если None - функционал отключен)
CASTLE = None # Флаг замка, который вы хотите обслуживать (например '🇮🇲'), оставьте None, чтобы не было ограничений
WEB_LINK = 'Please change it. {}'
